body{
    background-color: #F5F5F5;
    font-family: 'Ubuntu', sans-serif;
}

#title{
    text-align: center;
    font-size: 26px;
}

.form-delete{
    margin-left: auto;
}

.delete{
    border:none;
    background-color: none;
    font-size: xx-large;
    margin: 1rem;
    color: red;
    border-radius: 8px;
}

.todo-item{
    background-color: #d1d1d1;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}

.todo-item > div {
    margin-left: 5rem;
}

#insert-form{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

#insert-form > *{
    margin-top: 10px;
}